.language {
  border: 1px solid lightgreen;
  margin-left: 80px;
  margin-right: 80px;
}
.language img {
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
  background: rgb(219, 208, 227);
}
.language-info {
  display: flex;
  justify-content: space-between;
}
.language-info h4{
    margin-left: 10px;
}
.quiz-btn{
    font-size: 17px;
    color: white;
    background-color: rgb(162, 84, 218);
    font-weight: 500;
    width: 50%;
    border: none;

}