.language {
  border: 1px solid lightgreen;
  margin-left: 80px;
  margin-right: 80px;
}
.language img {
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
  background: rgb(219, 208, 227);
}
.language-info h4{
    margin-left: 10px;
}
.quiz-btn{
    font-size: 17px;
    font-weight: 500;
    color: white;
    background-color: rgb(162, 84, 218);
    width: 100%;
    padding: 10px 35px;
    height: 45px;
    border: none;
}
.btn{
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(162, 84, 218);
}